.container-fluid
	.row
		.col-sm-5.col-xs-12
			.panel.panel-default
				.panel-body
					h1.panel-title Groups
					hr
					.row
						.col-sm-3
							img.img-responsive(src="images/captain-hoarrd.png")
						.col-sm-5
							h4.media-heading Group 1
							p Members: 4
						.col-sm-4
							a.btn.btn-stroke.btn-block Get licence
					hr
					.row
						.col-sm-3
							img.img-responsive(src="images/captain-hoarrd.png")
						.col-sm-5
							h4.media-heading Group 2
							p Foobar.
						.col-sm-4
							span.text-muted Until 12.06.2016
		.col-sm-7.col-xs-12
			.panel.panel-default
				.panel-body
					h1.panel-title Members
					hr
					.row
						.col-xs-6 Matt Damon
						.col-xs-4 matt@goo.fo
						.col-xs-2
							a.toolbar.icon-button
								i.fa.fa-cog
					hr
					.row
						.col-xs-6 Matt Damon
						.col-xs-4 matt@goo.fo
						.col-xs-2
							a.toolbar.icon-button
								i.fa.fa-cog
							#toolbar-icons(style="display:none;")
								a(href="#")
									i.fa.fa-pencil
								a(href="#")
									i.fa.fa-trash-o
script.
	$('.toolbar').toolbar({
	  content: '#toolbar-icons',
	  position: 'vertical-top'
	});
