.container-fluid(style="margin-top: 1em;")
	.navbar.navbar-default(role="navigation")
		.container-fluid
			.navbar-header
				button.navbar-toggle.collapsed(type="button",data-toggle="collapse",data-target="#navbar-collapse2")
					span.fa-fa.bars
				span.navbar-brand.palette(style="font-weight: 800; font-size: 24px;") trackEm
			.collapse.navbar-collapse#navbar-collapse2
				ul.nav.navbar-nav
					li.active
						a(href="#") Dashboard
					li
						a(href="#maps") Maps
					li
						a(href="#races") Trainings
				ul.nav.navbar-nav.navbar-right.navbar-icons
					li
						a(href="#groups")
							span.fa.fa-users
							span(data-ui="group")
					li.dropdown
						a.dropdown-toggle(href="#",data-toggle="dropdown")
							span(data-ui="username")
							i.fa.fa-chevrondow
						ul.dropdown-menu
							.arrow.top
							li
								a(href="#user") Settings
							li
								a(href="/logout")
									i.fa.fa-logout
									|Logout

	block content

	hr
	.text-center
		p Sporzz, 2016.

script(type="text/javascript", src="/static/js/application.js")
