doctype html
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
		meta(http-equiv="x-ua-compatible", content="ie=edge")
		meta(charset="utf-8")

		link(rel="stylesheet", href="/static/css/bundle.css")

		script(type="text/javascript", src="/static/lib/jquery.min.js")
		script(type="text/javascript", src="/static/bootstrap/js/bootstrap.min.js")
		script(type="text/javascript", src="/static/js/checkbox.js")
		script(type="text/javascript", src="/static/js/radio.js")
		script(type="text/javascript", src="/static/js/bootstrap-switch.js")
		script(type="text/javascript", src="/static/js/toolbar.js")
		script(type="text/javascript", src="/static/js/application.js")

		block head

	body.palette-coastal-surf
		block content
