
.container-fluid
	.row
		.col-md-4.col-sm-6.col-xs-12
			.panel.panel-default
				.panel-body
					h1.panel-title {{_ "Maps"}}
					hr
					.row
						.col-xs-8
							div(data-region="maps")
						.col-xs-4
							button.btn.btn-primary
								i.fa.fa-upload
								| {{_ "Upload"}}
							hr
							button.btn.btn-primary(data-action="create")
								i.fa.fa-plus
								| {{_ "Add"}}
		.col-md-8.col-sm-6.col-xs-12
			.panel.panel-default
				.panel-body
					div(data-region="edit-map")
						h4 {{_ "No map selected."}}
