.container-fluid
	.row
		.col-md-8
			.panel.panel-default
				.panel-body
					h1.panel-title Trainings
					hr
					.row
						.col-sm-4.col-xs-12
							.tile.tile-profile
								img(src="static/images/captain-hoarrd.png")
								h4 Paloheinä
								p Training, long
								a.btn.btn-block.btn-danger.btn-embossed(href="trainings") Training
						.col-sm-4.col-xs-12
							.tile.tile-profile
								img(src="static/images/captain-hoarrd.png")
								h4 Paloheinä
								p Training, long
								a.btn.btn-block.btn-danger.btn-embossed(href="trainings") Training
						.col-sm-4.col-xs-12
							.tile.tile-profile
								img(src="static/images/captain-hoarrd.png")
								h4 Paloheinä
								p Training, long
								a.btn.btn-block.btn-danger.btn-embossed(href="trainings") Training
					.row
						.col-xs-12
							hr
							a.btn.btn-default.pull-right(href="trainings") More...
		.col-md-4
			.panel.panel-default
				.panel-body
					h4.panel-title Live now
					hr
					ul.list-group
						li.list-group-item Veikkola
							a.pull-right(href="#")
								i.fa.fa-share-square
						li.list-group-item Landbo
							a.pull-right(href="#")
								i.fa.fa-share-square
					h4 Upcoming
					hr
					ul.list-group
						li.list-group-item
							a(href="trainings.html") Veikkola
							span.pull-right.text-muted
								i.fa.fa-calendar-o
								| in 2 days
