extends extendable/modal

block title
	| {{'{{_ "Create a new event"}}'}}

block body
	form.form-horizontal
		.form-group
			label.col-sm-3.control-label {{'{{_ "Race name"}}'}}
			.col-sm-9
				input.form-control(name="race-name",placeholder="Race name")
		.form-group
			label.col-sm-3.control-label {{'{{_ "Map"}}'}}
			.col-sm-9
				div(data-region="maps-dropdown")

block footer
	button.btn.btn-default(data-dismiss="modal") {{'{{_ "Cancel"}}'}}
	button.btn.btn-primary(data-action="create", data-dismiss="modal")
		span.fa.fa-check
		| {{'{{_ "Create"}}'}}
