h1.panel-title {{'{{_ "Tracking"}}'}}
hr
button.btn.btn-primary.btn-block.btn-lg {{'{{_ "Start"}}'}}
br
.row
	.col-xs-3
		p.text-muted {{'{{_ "RACE CODE"}}'}}:
	.col-xs-9
		strong {{'{{race_hash}}'}}
.row
	.col-xs-3
		p.text-muted {{'{{_ "Status"}}'}}:
	.col-xs-9
		strong {{'{{_ "Running"}}'}}
.row
	.col-xs-3
		p.text-muted {{'{{_ "Tracking link"}}'}}:
	.col-xs-9
		a(href="#") {{'{{followUrl}}'}}
