h1.panel-title {{'{{_ "Tracking"}}'}}
hr

.row
	.col-lg-4
		p.text-muted {{'{{_ "Race name"}}'}}:
	.col-lg-8
		span {{'{{name}}'}}
.row
	.col-lg-4
		p.text-muted {{'{{_ "RACE CODE"}}'}}:
	.col-lg-8
		strong {{'{{code}}'}}
.row
	.col-lg-4
		p.text-muted {{'{{_ "Status"}}'}}:
	.col-lg-8
		.started
			strong {{'{{_ "Playing"}}'}}
		.stopped
			strong {{'{{_ "Stopped"}}'}}
.row
	.col-lg-12	
		p.text-muted {{'{{_ "Tracking link"}}'}}:
	.col-lg-12
		a(href="{{'{{followUrl}}'}}", target="_blank") {{'{{followUrl}}'}}
br
button.btn.btn-warning.btn-block.btn-lg.stopped(data-action="start") {{'{{_ "Start"}}'}}
button.btn.btn-danger.btn-block.btn-lg.started(data-action="stop") {{'{{_ "Stop"}}'}}
