h1.panel-title Map
hr
select.form-control(name="map")
	optgroup(label="{{_ 'Recent'}}")
		option(value="1") Jerikonmäki
		option(value="2") Veikkola
	optgroup(label="{{_ 'All'}}")
		option(value="1") Jerikonmäki
		option(value="2") Veikkola
		option(value="3") Matinkylä