h1.panel-title {{'{{_ "Runners"}}'}}
hr
ul.nav.nav-pills.nav-justified
	li.active
		a(href="#") {{'{{_ "Pending"}}'}}
	li
		a(href="#") {{'{{_ "Accepted"}}'}}
			span.badge 4
	li
		a(href="#") {{'{{_ "Rejected"}}'}}
br
.row
	.col-xs-12(data-region="runner-cards")
