.container-fluid
	.row
		.col-md-8
			.panel.panel-default
				.panel-body
					h1.panel-title {{'{{_ "Races"}}'}}
					hr
					.row
						.col-sm-4.col-xs-12
							.thumbnail.thumbnail-caption
								img(src="static/images/map-example.jpg")
								.caption
									h4 Southern Michigan
									p Training, long
									a.btn.btn-block.btn-danger.btn-embossed(href="#races") {{'{{_ "Race"}}'}}
						.col-sm-4.col-xs-12
							.thumbnail.thumbnail-caption
								img(src="static/images/map-example.jpg")
								.caption
									h4 Southern Michigan
									p Training, long
									a.btn.btn-block.btn-danger.btn-embossed(href="#races") {{'{{_ "Race"}}'}}
						.col-sm-4.col-xs-12
							.thumbnail.thumbnail-caption
								img(src="static/images/map-example.jpg")
								.caption
									h4 Southern Michigan
									p Training, long
									a.btn.btn-block.btn-danger.btn-embossed(href="#races") {{'{{_ "Race"}}'}}
					.row
						.col-xs-12
							hr
							a.btn.btn-default.pull-right(href="trainings") More...
		.col-md-4
			.panel.panel-default
				.panel-body
					h4.panel-title Maps waiting for preparation
					hr
					ul.list-group
						li.list-group-item
							a(href="#maps") Veikkola
